.adContainer{
    display: flex;
    justify-content: space-evenly;
    height: 0%;
    color: white;
    background-color:green ;
    padding: 10px;
    align-content: center;
}

.adButton{
    color: white;
    background-color: black;
}

.adText{
    height: 10px;
    color: black;
}

.adLink{
    height: 10px;
    color: black;
    
}

.stickyHeader{
    display: flex;
    justify-content: space-between;
    background-color: green;
    height: 8vh;
}

.navBar2{
    display: flex;
    font-size: 10px;
    justify-content: space-evenly;
    
}

.graphic{
    justify-content: space-evenly;
    display: flex;
    background-color: green;
   
}

.column {
    float: left;
    width: 28%;
    padding: 5px;
}

.Prodpic{
    height: 200px;
}

.products{
    
    display: flex;
    background-color: green;
    color:black;
}

.productHeader{
    
    
    color: black;
}